.wrapper-design-1 {
  display: flex;
  height: 80vh;
  justify-content: center;
}

.form-design-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-design-1 label {
  display: flex;
  flex-direction: column;
}

.text-username,
.text-password {
  color: rgb(135, 135, 135);
  font-size: 1.2em;
}

.input-username,
.input-password {
  border: none;
  background: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px 0;
  border-bottom: 1px solid black;
  height: 20px;
  font-size: 1.5em;
}

.input-username,
.input-password {
  outline: none;
}

.sign-in {
  height: 50px;
  font-size: 1.5em;
  background-color: rgb(119, 205, 202);
  border: none;
  margin-top: 1em;
  font-weight: 750;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease;
}

.sign-in:hover {
  background-color: rgb(68, 154, 151);
}

.kevin input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.kevin:hover input ~ .checkmark {
  background-color: #ccc;
}

.kevin input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
}

/* Show the checkmark when checked */
.kevin input:checked ~ .checkmark:after {
  visibility: visible;
}

/* Style the checkmark/indicator */
.kevin .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
