html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  /* color variables */
  --blue: #0e4061;
}

.nav {
  background-color: #fff;
  color: var(--blue);
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.form-container {
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}